mat-card {
  width: 60%;
  margin: 25px auto;
  padding-bottom: 30px;
  min-width: 400px;
  max-width: 700px;
}

@media only screen and (max-width: 600px) {
  mat-card {
    min-width: 80%;
    margin: auto;
    margin: 25px;
  }
}


mat-card-actions {
  padding: 15px;
  margin-bottom: 20px;
}

mat-tab-group {
  color: white;
  background: url('/assets/hero-background.jpg') no-repeat fixed center;
  background-position: top 20px;
  background-size: cover;
}

button {
  margin-bottom: 10px;
}

.title {
  margin: auto;
  text-align: center;
}

mat-tab {
  min-width: 400px;
}

mat-tab-labels {
  min-width: 400px;
}

img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 6px;
}

mat-divider {
  width: 75%;
  margin: auto;
  padding-bottom: 50px;
  margin-top: 50px;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  background: white;
}

mat-card-content {
  padding: 20px 0 20px 0;
}
