<div class="title">
  <h1 class="mat-headline">Portfolio</h1>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab *ngFor="let work of expirence" label="{{ work.title }}" color="primary">
    <mat-card>
      <mat-card-title>{{ work.title }}</mat-card-title>
      <mat-card-content>{{ work.description }}</mat-card-content>
      <a href="{{ work.link }}">
        <img src="{{ work.img_src }}" mat-card-image /></a>
      <mat-card-actions>
        <a href="{{ work.link }}" target="blank"><button mat-raised-button color="accent">Check It Out</button></a>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<mat-divider id="contact"></mat-divider>